<h2 class="markdown-body">実行</h2>
<pre class="markdown-body"><code class="markdown-body">$ npm run dev
</code></pre>
<p class="markdown-body">ビルド</p>
<pre class="markdown-body"><code class="markdown-body">$ npm run build
</code></pre>
<p class="markdown-body">上記で自動でブラウザに画面が起動されます。</p>
<h2 class="markdown-body">新規ファイルの格納手順</h2>
<ul class="markdown-body">
<li class="markdown-body">・ src/md 　配下にマークダウンファイルの格納</li>
<li class="markdown-body">・ src/data.json 　に以下を追加します。</li>
</ul>
<pre class="markdown-body"><code class="markdown-body">"": {                →　.mdファイル名と同様の文字列※
  "id": "",          →　.mdファイル名と同様の文字列※
  "layout": "page",  →　レイアウトファイルの選択(page)※
  "title": "",       →　作成したknowledgeのタイトル
  "description": "", →　作成したknowledgeの概要
  "author": ""       →　作成したknowledgeの著者
}
</code></pre>
<p class="markdown-body">※は必須です。</p>
<h2 class="markdown-body">フォルダ構成と説明</h2>
<pre class="markdown-body"><code class="markdown-body">docs  → $ npm run build で生成されたファイルが格納されるフォルダです。
dst   → $ npm run dev で生成されたファイルが格納されるフォルダです。
gulp  → gulp の各タスクが格納されています。
src   → 以下が作業フォルダです。
 |-js
 |-knowledge
 |-layout
 |-md
 |-sass
 data.json
</code></pre>
