<h2 class="markdown-body">フローチャート記法</h2>
<p class="markdown-body"><strong>例</strong></p>
<pre class="markdown-body"><code class="markdown-body">graph LR
A -- text --> B -- text2 --> C
</code></pre>
<p class="markdown-body"><strong>出力</strong></p>
<div class="mermaid">
graph LR
A -- text --> B -- text2 --> C
</div>
<p class="markdown-body"><strong>例</strong></p>
<pre class="markdown-body"><code class="markdown-body">graph TB
    A & B--> C & D
</code></pre>
<p class="markdown-body"><strong>出力</strong></p>
<div class="mermaid">
graph TB
    A & B--> C & D
</div>
