<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span class="anime-type">
          <i class="far fa-square"></i>
          TOP
        </span>
      </a>
    </div>
  </nav>
</header>
