<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>knowledge</title>
<meta
  name="viewport"
  content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1"
/>
<meta name="description" content="description" />
<meta name="keywords" content="gulp markdown" />
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<script src=https://use.fontawesome.com/releases/v5.6.0/js/all.js></script>
<script src="/js/mermaid.js"></script>
<script>
  mermaid.initialize({ startOnLoad: true });
</script>
</head>