<div class="box-wrapper">
  <a href="./<%= pageIndex.id %>.html">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <span class="icon">
                <i class="fas fa-book"></i>
              </span>
              <strong><%= pageIndex.title %></strong>
            </p>
            <p><%= pageIndex.description %></p>
            <p>
              <span class="icon">
                <i class="far fa-address-card"></i>
              </span>
              <%= pageIndex.author %>
            </p>
          </div>
        </div>
      </article>
    </div>
  </a>
</div>
